<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Login Page</h1>
        <div class="form">
            <div class="form-wrapper">
                <label>Firstname:
                <input type="text">
            </label>
            <label>Phone no:
            <input type="number">
        </label>
        <label>Email:
        <input type="email">
    </label>
            </div>
        </div>
    </body>
</html>